h1{
    margin: 0;
}

.header{
    display: flex;
}

.welcome{
    margin: 0px !important;
    text-align: center;
    font-size: 64px;
    height: 20vh;
    color: red;
}

body{
    background-color: #011120;
    margin: 0;
}

#snickers_porch{
    width: 48vh;
    padding-left: 15vw;
}

#jamaica{
    width: 24vh;
    float: right;
    justify-content: right;
}

.vh20{
    height: 10vh;
}

.intro{
    color: red;
    margin-top: 2vw;
    margin-left: 5vw;
    margin-right: 10vw;
    font-size: 2.5vw;
    min-height: 3vw;
}

.button-header{
    display: flex;
    justify-content: center;
}

.button{
    margin: 5vh 5vw 5vh 5vw;
    background-color: #011120;
    color: red;
    border-color: red;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: 0.5s;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.button:hover{
    margin: 5vh 5vw 5vh 5vw;
    background-color: #030b13;
    color: red;
    border-color: rgb(148, 0, 0);
    text-align: center;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

h3{
    margin: 0px;
}