.header{
    background-color: #64a7fe;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    height: 33vh;
    display: flex;
}

#welcome{
    text-align: center;
    vertical-align: middle;
    font-size: 64px;
    margin: 10px 40px 0px 40px;
    width: 46vw;
    height: 10vh;
}

body{
    background-color: #afdaff;
    margin: 0;
}

#snickers_porch{
    width: 48vh;
    float: left;
}

#jamaica{
    width: 24vh;
    float: right;
    justify-content: right;
}